body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input {
    width: 95%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#main-button {
    width: 50%;
    padding: 10px;
    background: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 25%;
}

table {
    /* width: 50%; */
    border-collapse: collapse;
    margin: 20px 0;
    font-family: Arial, sans-serif;
    /* font-size: 16px; */
    text-align: left;
}

th, td {
    border: 1px solid black;
    padding: 8px 12px;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

td:first-child {
    font-weight: bold;
    background-color: #e6e6e6;
    /* width: 60%; */
}

td:last-child {
    text-align: right;
    /* width: 40%; */
}

.limites-columna, .boton-ocultar{
    display: none;
}

#boton-ocultar, #boton-invertir, #boton-rotar{
    display: none;
    margin-left: 0;
}

#code-qr{
    width: 100%;
    display: flex;
    justify-content: center;
}

#button-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.lado-img {
    /* display: inline-block; */
    margin-left: 30px;
}
